@model COMP003B.SP25.FinalProject.FigueroaJ.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>

        <h3>Favorites</h3>
        @if (Model.Favorites != null && Model.Favorites.Any())
        {
            <ul>
                @foreach (var fav in Model.Favorites)
                {
                    <li>
                        @if (fav.Visibility)
                        {
                            @fav.Recipe?.RecipeTitle
                            @if (!string.IsNullOrEmpty(fav.Note))
                            {
                                <span>- Note: @fav.Note</span>
                            }
                        }
                        else
                        {
                            <span>Hidden</span>
                        }
                    </li>
                }
            </ul>
        }
        else
        {
            <p>This user has no favorites.</p>
        }

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
